<!DOCTYPE html>
<html lang="en">

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Fill up Employee Details</span>
        </div>
    </nav>

    <div class="container">
        <form [formGroup]="empForm" (ngSubmit)="submitEmpData()">

            <div>
                <h3 style="font-weight: bold;margin-top: 10px;">Employee Details :</h3>
                <div class="mt-3">
                    <input class="form-control" formControlName="employeeName" type="text" name="employeeName" placeholder="Enter Employee Name">
                </div>

                <div class="mt-3">
                    <input class="form-control" formControlName="employeeDOB" type="date" name="employeeDOB">
                </div>

                <div class="mt-3">
                    <input class="form-control" formControlName="employeeEmail" type="email" name="employeeEmail" placeholder="Enter Employee Email">
                </div>

                <div class="mt-3">
                    <input class="form-control" formControlName="employeePhoneNo" type="number" name="employeePhoneNo" placeholder="Enter Employee PhoneNo">
                </div>

                <div class="mt-3">
                    <select class="form-control" formControlName="interviewStatus">
                        <option selected disabled value="">Choose Interview Status</option>
                        <option>Joined</option>
                        <option>Resigned</option>
                        <option>Terminated</option>
                    </select>
                </div>

                <div class="mt-3">
                    <input class="form-control" formControlName="joiningDate" type="date" name="joiningDate">
                </div>
            </div>

            
            <div class="mt-5" formGroupName="address"><h3 style="font-weight: bold;">Address Details :</h3>
                <div class="mt-3" style="display: flex;flex-direction: row;">
                    <input style="width: 110vh;display: block;margin-right: 10px;" class="form-control" formControlName="houseNo" type="text" name="houseNo" placeholder="Enter House Number" >
                    <input style="display: block;margin-right: 10px;" class="form-control" formControlName="streetName" type="text" name="streetName" placeholder="Enter street name">
                    <input style="display: block;" class="form-control" formControlName="areaName" type="text" name="areaName" placeholder="Enter Area Name">
                </div>
                <div class="mt-3" style="display: flex;flex-direction: row;">
                    <input style="width: 110vh;display: block;margin-right: 10px;" class="form-control" formControlName="city" type="text" name="city" placeholder="Enter City" >
                    <input style="display: block;margin-right: 10px;" class="form-control" formControlName="state" type="text" name="state" placeholder="Enter State">
                    <input style="display: block;" class="form-control" formControlName="pinCode" type="number" name="pinCode" placeholder="Enter Pin Code Number">
                </div>
            </div>

            <div class="mt-5" formGroupName="documents"><h3 style="font-weight: bold;">Upload Documents :</h3>
                <table class="mt-3">
                    <tbody>
                    <tr>Upload Graduation Marksheet :<td><input class="form-control" formControlName="marksheet" type="file" name="marksheet" ></td></tr>
                    <tr>Upload Certification :<td><input class="form-control" formControlName="certification" type="file" name="certification"></td></tr>
                    <tr>Upload Experience Letter :<td><input class="form-control" formControlName="experienceLetter" type="file" name="experienceLetter"></td></tr>
                    </tbody>
                </table>
            </div>

            <div class="mt-3">
                <button class="btn btn-secondary" type="submit">Submit</button>
            </div>
        </form>
    </div>

</body>

</html>