<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Update Interview Details</span>
        </div>
       
        <button mat-icon-button color="primary" [matMenuTriggerFor]="myMenu">
            <mat-icon>menu</mat-icon>
        </button>

        <mat-menu #myMenu="matMenu" xPosition="before" yPosition="below">
            <a mat-menu-item routerLink="/candidate">Fill up Candidate Details</a>
            <a mat-menu-item routerLink="/getCandidate">Show All Candidate Details</a>
            <a mat-menu-item routerLink="/setInterview">Schedule Interview</a>
            <a mat-menu-item routerLink="/getInterviewDetails">Show scheduled Interview</a>

        </mat-menu>
    </nav> -->

<div class="container">
    <form [formGroup]="interviewForm" (ngSubmit)="updateInterviewDetails()">

        <div class="mt-3">
            <input class="form-control" formControlName="interviewerName" type="text" name="interviewerName"
                placeholder="Enter Interviewer Name">
            <span *ngIf="this.interviewForm.get('interviewerName')?.touched">
                <span style="color: red;" *ngIf="this.interviewForm.get('interviewerName')?.invalid">
                    <span *ngIf="this.interviewForm.get('interviewerName')?.hasError('required')"> *Required </span>
                </span>
            </span>
        </div>

        <div class="mt-3">
            <input class="form-control" formControlName="interviewDateTime" type="datetime-local"
                name="interviewDateTime" placeholder="Enter Interview Date & Time">
            <span *ngIf="this.interviewForm.get('interviewDateTime')?.touched">
                <span style="color: red;" *ngIf="this.interviewForm.get('interviewDateTime')?.invalid">
                    <span *ngIf="this.interviewForm.get('interviewDateTime')?.hasError('required')"> *Required </span>
                </span>
            </span>
        </div>

        <div class="mt-3">
            <input class="form-control" formControlName="interviewOutCome" type="text" name="interviewOutCome"
                placeholder="Enter Interview OutCome">
            <span *ngIf="this.interviewForm.get('interviewOutCome')?.touched">
                <span style="color: red;" *ngIf="this.interviewForm.get('interviewOutCome')?.invalid">
                    <span *ngIf="this.interviewForm.get('interviewOutCome')?.hasError('required')"> *Required </span>
                </span>
            </span>
        </div>

        <div class="mt-3">
            <input class="form-control" formControlName="feedback" type="text" value=null name="feedback"
                placeholder="Enter Interview Feedback">
            <span *ngIf="this.interviewForm.get('feedback')?.touched">
                <span style="color: red;" *ngIf="this.interviewForm.get('feedback')?.invalid">
                    <span *ngIf="this.interviewForm.get('feedback')?.hasError('required')"> *Required </span>
                </span>
            </span>
        </div>

        <div class="form-button mt-3">
            <button id="submit" type="submit" [disabled]="interviewForm.invalid"
                class="btn btn-secondary">Update</button>
        </div>
    </form>
</div>