<!DOCTYPE html>
<html lang="en">

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Nexscend Technology</span>

            <button mat-icon-button color="primary" [matMenuTriggerFor]="myMenu">
                <mat-icon>menu</mat-icon>
            </button>

            <mat-menu #myMenu="matMenu" xPosition="before" yPosition="below">
                <a mat-menu-item routerLink="/candidate">Fill up Candidate Details</a>
                <a mat-menu-item routerLink="/getCandidate">Show All Candidate Details</a>
                <a mat-menu-item routerLink="/setInterview">Schedule Interview</a>
                <a mat-menu-item routerLink="/getInterviewDetails">Show scheduled Interview</a>

            </mat-menu>
        </div>
    </nav>

</body>

</html>